
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Название страницы{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{{ nickname }}</h1>
        <hr />
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная страница</a></li>
                <li><a href="{% url 'about' %}">О магазине</a></li>
                <li><a href="{% url 'achievements' %}">Наши достижения</a></li>
            </ul>
        </nav>
        <hr />
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Сайт создан 28.02.25 - {{ nickname }}</p>
    </footer>
</body>
</html>
